# Ignore IDE settings
.vscode/
.idea/

# Ignore data files
data/

# Ignore custom GameData JSON-representation files
# - Keep the example file for reference
custom/*
!custom/easy.json
!custom/hard.json

# Ignore Python cache
__pycache__/