# Ignore IDE settings
.vscode/
.idea/

# Ignore data files (until they are ready)
data/

# Ignore custom GameData JSON-representation files
# - Keep the example file for reference
custom/*
!custom/example.json

# Ignore Python cache
__pycache__/